COSMOS_AUTH_MODE=key/uami 

COSMOS_ENDPOINT=https://<account>.documents.azure.com:443/
COSMOS_KEY=<cosmos-primary-or-secondary-key>

COSMOS_DATABASE=ideahub
COSMOS_CONTAINER=ideas



# COSMOS_AUTH_MODE=connection_string
# COSMOS_CONNECTION_STRING=AccountEndpoint=https://...;AccountKey=...

# COSMOS_DATABASE=ideahub
# COSMOS_CONTAINER=ideas